.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.name {
  width:95%
}
body {
    background-color: #ffe6ff;
  }
li {
    margin-top: 10px;
}
table {
    background-color: #ffe6ff;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
.phpbox {
  width:65%;
}
.nav{
  width:30%;
    background-color:lightblue;
}

.nav_link{
    color: red;
}
