.container {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
}
.name {
  text-align:center;
  width:100%;
  font-size:30px;
  background-color: lightgreen;
}
body {
    background-color: #ffe6ff;
  }
li {
    margin-top: 10px;
}
table {
    background-color: #ffe6ff;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
.phpbox {
  width:75%;
  background-color:lightyellow;
}
.nav{
  width:20%;
    background-color:lightblue;
  margin-right:25px;
}

.nav_link{
    margin-top:5px;
  text-align:center;
  margin-right:10px;
  margin-left:10px;
  border: 1px solid black;
  display:block;
    color: black;
    font-size: 25px;
  
}
