.container1 {
    background-color: #4400ff;
    padding: 5px;
    width: 15%;
    height: 150px;
  }
  .header1 {
    background-color: #36b632;
    margin: 1px;
    width: 50%;
    height: 40%;
  }
  
  .container2 {
    background-color: #4400ff;
    padding: 5px;
    width: 15%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .header2 {
    background-color: #36b632;
    margin: 1px;
    width: 50%;
    height: 40%;
  }
  
  .container3 {
    background-color: #4400ff;
    padding: 5px;
    width: 15%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .header3 {
    background-color: #36b632;
    margin: 0.3rem;
    width: 25%;
    height: 25%;
  }
  
  .container4 {
    background-color: #4400ff;
    padding: 5px;
    width: 15%;
    height: 150px;
    display: flex;
    justify-content: flex-end;
  }
  .header4 {
    background-color: #36b632;
    margin: 1px;
    width: 50%;
    height: 40%;
  }
  
  .container5 {
    background-color: #4400ff;
    padding: 5px;
    width: 15%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .header5 {
    background-color: #36b632;
    margin: 1px;
    width: 50%;
    height: 40%;
  }
  
  .container6 {
    background-color: #4400ff;
    padding: 5px;
    width: 15%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .header6 {
    background-color: #36b632;
    margin: 0.3rem;
    width: 25%;
    height: 25%;
  }
  
  .container7 {
    background-color: #4400ff;
    padding: 5px;
    width: 15%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .header7 {
    background-color: #36b632;
    width: 50%;
    height: 40%;
  }
  
  .container8 {
    background-color: #4400ff;
    padding: 5px;
    width: 15%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
  }
  .header8 {
    background-color: #36b632;
    width: 50%;
    height: 40%;
  }
  
  .container9 {
    background-color: #4400ff;
    padding: 5px;
    width: 15%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
  }
  .header9 {
    background-color: #36b632;
    margin: 0.3rem;
    width: 25%;
    height: 25%;
  }
  
  .container10 {
    background-color: #4400ff;
    padding: 5px;
    width: 15%;
    height: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .header10 {
    background-color: #36b632;
    margin: 1px;
    width: 50%;
    height: 40%;
  }
  
  .container11 {
    background-color: #4400ff;
    padding: 5px;
    width: 15%;
    height: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .header11 {
    background-color: #36b632;
    margin: 0.3rem;
    width: 25%;
    height: 25%;
  }
  