.container1 {
    background-color: #4400ff;
    padding: 5px;
    width: 35%;
    height: 150px;
  }
  .header1 {
    background-color: #36b632;
    margin: 1px;
    width: 50%;
    height: 40%;
  }
  
  .container2 {
    background-color: #4400ff;
    padding: 5px;
    width: 35%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .header2 {
    background-color: #36b632;
    margin: 1px;
    width: 50%;
    height: 40%;
  }
  
  .container3 {
    background-color: #4400ff;
    padding: 5px;
    width: 35%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .header3 {
    background-color: #36b632;
    margin: 0.3rem;
    width: 25%;
    height: 25%;
  }
  
  .container4 {
    background-color: #4400ff;
    padding: 5px;
    width: 35%;
    height: 150px;
    display: flex;
    justify-content: flex-end;
  }
  .header4 {
    background-color: #36b632;
    margin: 1px;
    width: 50%;
    height: 80%;
  }
  
  .container5 {
    background-color: #4400ff;
    padding: 5px;
    width: 35%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .header5 {
    padding: 4px;
    background-color: #36b632;
    margin: 1px;
    width: 50%;
    height: 60%;
  }
  
  .container6 {
    background-color: #4400ff;
    padding: 5px;
    width: 35%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .header6 {
    background-color: #36b632;
    margin: 0.3rem;
    width: 25%;
    height: 25%;
  }
  
  .container7 {
    background-color: #4400ff;
    padding: 5px;
    width: 35%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .header7 {
    background-color: #36b632;
    width: 50%;
    height: 40%;
  }
  
  .container8 {
    background-color: #4400ff;
    padding: 5px;
    width: 35%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
  }
  .header8 {
    background-color: #36b632;
    width: 50%;
    height: 40%;
  }
  
  .container9 {
    background-color: #4400ff;
    padding: 5px;
    width: 35%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
  }
  .header9 {
    background-color: #36b632;
    margin: 0.3rem;
    width: 25%;
    height: 25%;
  }
  
  .container10 {
    background-color: #4400ff;
    padding: 5px;
    width: 35%;
    height: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .header10 {
    background-color: #36b632;
    margin: 1px;
    width: 50%;
    height: 40%;
  }
  
  .container11 {
    background-color: #4400ff;
    padding: 5px;
    width: 35%;
    height: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .header11 {
    background-color: #36b632;
    margin: 0.3rem;
    width: 25%;
    height: 25%;
  }

ul a{
    text-decoration: none;
    color: black;
}

.first{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first li{
    width: 30px;
    height: 20px;
    background-color: rgb(187, 221, 36);
    margin: 4px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.3s;
}

.first li:hover{
    background-color: rgb(238, 163, 24)
}

.second{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second li{
    width: 30px;
    height: 20px;
    background-color: rgb(187, 221, 36);
    margin: 4px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.3s;
}

.second li:hover{
    transform: rotate(180deg);
}

.third{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.third li{
    width: 30px;
    height: 20px;
    background-color: rgb(187, 221, 36);
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.3s;
}

.third li:hover{
    width: 50px;
    border-radius: 5px;
}

.four{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.four li{
    width: 30px;
    height: 20px;
    background-color: rgb(187, 221, 36);
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.3s;
}

.four li:hover{
    transform: translateX(-80%);
}